@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.done {
  background-color: #00ba00;
}

.not-done {
  background-color: #f44336;
}

.checkmark::before {
  position: absolute;
  bottom: -3px;
  left: -2px;
  content: "";
  width: 3px;
  height: 7px;
  rotate: -90deg;
  background-color: white;
}

#ht-text {
  animation: scaleupanddown 1s ease-out infinite;
}

@keyframes scaleupanddown {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

#notification-bar {
  position: absolute;
  animation: notificationSlide 3s ease-in-out;
}

#pattern-notification-bar {
  position: absolute;
  animation: notificationSlide 6s ease-in-out;
}

@keyframes notificationSlide {
  0% {
    top: 0;
  }
  30% {
    top: 100px;
  }
  40% {
    top: 80px;
  }
  50% {
    top: 100px;
  }
  60% {
    top: 90px;
  }
  100% {
    top: 0;
  }
}
